<!DOCTYPE html>
<html>
  <head>
    <title>Questions</title>
    <%= csrf_meta_tags %>
    <%= Gon::Base.render_data %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'Questions', root_path, class: 'navbar-brand' %>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to 'Sign in', new_user_session_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container-fluid">
      <div class='row'>
        <div class="col-md-8 col-md-offset-2 main">
          <%# <%= render partial: 'shared/flash_message' %1> %>
          <%= bootstrap_flash %>

          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
